

nav a{
  text-align: right;
      color:white;
}

.hero-banner
{
height: 500px;
padding-top:200px;
text-align: center;
background-image: url(assets/images/bg2.jpg);
background-repeat: no-repeat;
background-size: cover;;
background-position: center;

color:White;

border-width: 20px;
}

.hero-text  {
  color:white;
  text-align: center;
  padding:150px;
}

.hero-banner button{

  text-decoration-style: none;
    color:black;
  border-color: white;
  background-color: white ;
  border-radius: 55px;
}

#sus {
  width: 50px;
  padding-top: 5px;
  float:left;
  text-align: left;
  margin: 0px;
}
section article img {
  padding-top: 500px;
}

#blue {
  height: auto;

  background: rgb(0, 100, 250);;
  text-align: center;
  padding-bottom: 70px;
}
#blue img{
padding:10px;
}
#blue h1 {
  height: auto;
  margin: 15px;
}


#black{
  height: auto;
  background: black;


}
#black h1{
  margin: 0;
  margin-top:   0px;
  color: white;
  text-align: center;
}



.image-one img{


  height: 90px;
  margin-top: 15px;
  border:2px solid;
  border-color: darkgray;
  border-radius: 150px;

}

.image-two img{
  height: 90px;
  width: auto;

  border:2px solid;
  border-color: darkgray;
  border-radius: 150px;
}

.content {

}

.img{




}

.img img{
  width:100%;
  padding: 15px;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    transition-property: width;
    transition-duration: 2s;
}

.img img:hover {
  opacity: 0.5;
   filter: alpha(opacity=50);


}

.navbar-default .navbar-nav li a {
  color: red;
}
