

  .forms {
    padding-top: 90px;
    background: rgb(0, 50, 100 );
      color: white;

      display: flex;
      justify-content: space-around;
    }

    button {
float: right;

  }


input:invalid{
   border: 2px solid red;
}



    
