.banner{        /*Sectiunea SHOP */
  height: 200px;
  background: rgb(0, 200, 180);
  color: black  ;
  text-align: center;
  margin-top: 50px;
  background-position: center;
}

.banner h1{
margin: auto;
padding-top: 80px;

}

.prod{        /*Sectiunea cu produse*/
  background:darkgray;

}

.content{
margin: auto;
color: black;
}
.content img{
  width: 100%;
  margin-bottom: 10px;

}

.img {
  background: rgb(100,100, 100);;
  margin-top: 15px;
  padding-top: 20px  0px;
  box-shadow: 2px 10px 10px #888888;
}

.row{
  padding-bottom: 15px;
}
.img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.pagination{
padding-left: 25%
}

.lulu {
  width: 80%;
}


.ul li  {

  list-style-type: none;
}

.search {
  padding-top: 80px;
}

h6 {      /*Tagul SALE*/
  position: absolute;
  margin: 0;
  padding: 10px;
  top: -10px;
  right: -1px;
  color: white;
  border-color: black;
  border-radius:   50%;
  line-height: 150%;
  background-color: red;
}
