.prod {  /*Sectiunea cea mare*/
  margin-top: 50px;
}

.text {
  text-align: justify;
}

.text .btn-default {
color: white;
  background-color: red;
}

.sub {      /*Add to cart*/
 margin-left: 100px;
  color: white;
  background-color: blue;
}

.table {    /*Tabelul din description*/
  background-color: red;
  text-rendering: optimizeLegibility;
   box-shadow: 0px 0px 0px 20px grey;
   margin-top: 20px;
}

.carousel-control{   /*Slide poze*/
  margin:0px 15px;
}
.carousel-inner>.item>img {
  width:100%;
}

.tab-content {
  color:black;
}

.nav-tabs>li>a {  /* Bara de navigare*/
  color: red;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{  /*Bara de navigare pe active sau hover*/
  color: red;
  box-shadow: 0px -3px red;
}



.text input:not([type="image" i]){    /* Textboxul dintre + si - */
  width: 10%;
}
