.prod {
  margin-top: 50px;
}

.text {
  text-align: justify;
}

.text .btn-default {
color: white;
  background-color: red;
}

.sub {
 margin-left: 100px;
  color: white;
  background-color: blue;
}

.table {
  background-color: red;
  text-rendering: optimizeLegibility;
   box-shadow: 0px 0px 0px 20px grey;
   margin-top: 20px;
}
.carousel-control{
  margin:0px 15px;
}

.tab-content {
  color:black;
}

.nav-tabs>li>a {
  color: red;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: red;
  box-shadow: 0px -3px red;
}

.joss {
  margin-top: 80px;
  color: black;
  text-align: center;
}

.fa {
border-width:medium;
    border-radius: 50px;
  border-color: green;
}
.carousel-inner>.item>img {
  width:100%;
}

.text input:not([type="image" i]){
  width: 10%;
}
